<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal Chet</title>
</head>
<body>
    <h3>Carga de archivos</h3>
    <form method="POST"  enctype="multipart/form-data">
        {% csrf_token %}
        <label for="clientes">Clientes</label>
        <input type="file" name="clientes" accept=".csv">
        <label for="mejores_clientes">Mejores Clientes</label>
        <input type="file" name="mejores_clientes" accept=".csv">
        <label for="juegos">Juegos</label>
        <input type="file" name="juegos" accept=".csv">
        <br>
        <label for="juegos_mas">Juegos Mas Comprados</label>
        <input type="file" name="juegos_mas" accept=".csv">
        <br>
        <input type="submit" value="Revisar" formaction="/revisar" formmethod="POST">
    </form>
    {{error}}
    <br>
    <form action="" method="POST">
        {% csrf_token %}
        <textarea name="mostrar_xml" id="" cols="30" rows="10">{{xml}}</textarea>
        <input type="submit" value="Procesar" formaction="/procesar"> <!--formmethod="POST" formtarget = "frame2"-->

    </form>
    <br>
</body>
</html>